<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Submitted</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
</head>
</head>
<body class="volunteer-page">
    <nav class="navbar">
    <h2>Really Real Education</h2>
    <div>
        <a href="/">Return to Home Page</a>
    </div>
    </nav>

    <div class="container">
        <div class="top-bar">
            <h2>Application Submitted Successfully ✔️</h2>
    </div>

</body>
</html>